:root {
  --main-color-white: #ffffff;
  --main-color-accent: #b59f5b;
  --main-color-accent-hover: #323232;
  --border-color: #eeeeee;

  --main-color-text: #0f0d0e;
  --second-color-text: #000000;
  --aux-color-text: #888888;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: normal;
}

body,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  font-family: OpenSans, sans-serif;
}

ul {
  list-style: none;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus {
  outline: none;
}

/* Стили модального окна */
.modal-wrp {
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.modal-wrp::after {
  content: "";
  background: rgba(0, 0, 0, 0.6);

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal {
  box-sizing: border-box;
  width: 390px;
  padding: 45px 30px 50px;
  background-color: var(--main-color-white);
  position: relative;
  z-index: 1;
}

.modal-close {
  width: 17px;
  height: 17px;
  border: none;

  background-image: url(../svg/form-x.svg);
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  cursor: pointer;

  position: absolute;
  top: -25px;
  right: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 13px;
  color: var(--second-color-text);
}

.modal-form-label {
  display: inline-block;
  margin-bottom: 5px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  
  background-image: url(../svg/form-arrows.svg);
  background-size: 8px 17px;
  background-repeat: no-repeat;
  background-position: right 14px center;
  
  cursor: pointer;
}

.radio-values {
  display: flex;
  gap: 15px;
}

.radio-group {
  cursor: pointer;
}

.radio-label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 4px;

  background-image: url(../svg/form-empty-circle.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
}

.radio:checked ~ .radio-label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  margin-right: 4px;
  
  background-image: url(../svg/form-circle.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
}

.radio {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  width: 1px;
  height: 1px;
}

.textarea {
  min-height: 130px;
  max-height: 130px;
  resize: none;
  cursor: text;
}
/* Конец стилей модально окна */

.header {
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #000000;
  padding: 25px 15px 20px;
  margin-bottom: 55px;

  position: relative;

  text-transform: uppercase;
  color: var(--main-color-white);
}

.header::after {
  content: "";
  background: rgba(0, 0, 0, 0.6);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header-content {
  position: relative;
  z-index: 1;
}

.menu-container {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.logo {
  width: 182px;
}

.logo-big {
  display: none;
}

.menu-item {
  font-size: 13px;
  margin-left: 35px;
}

.menu-item:first-child {
  margin-left: 0;
}

.menu-item:hover {
  text-decoration: underline;
}

.menu-icon {
  display: none;
}

.bunner-content {
  display: block;
  box-sizing: border-box;
  margin: 105px auto 110px;
  text-align: center;
}

.bunner-title {
  max-width: 45%;
  font-size: 45px;
  line-height: 1.6;
  margin: auto;
}

.content-wrp {
  color: var(--main-color-text);
}

.section-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 24px;
  cursor: pointer;
}

.section-title::after {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 66px;
  height: 3px;
  background: rgba(181, 159, 91, 0.6);
  margin: 10px auto 0;
}

.big-title {
  font-size: 20px;
}

.trends-list {
  display: flex;
  width: 100%;
  gap: 4px;
}

.trend-card {
  box-sizing: border-box;
  width: calc((100% - 4px * 3) / 4);
  min-height: 320px;
  padding: 15px 20px;
  position: relative;

  text-align: left;
  align-content: flex-end;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000000;
}

.trend-card::after {
  content: "";
  background: rgba(0, 0, 0, 0.6);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.garden {
  background-image: url(../images/trend1.jpg);
}

.cheese {
  background-image: url(../images/trend2.jpg);
}

.mountain {
  background-image: url(../images/trend3.jpg);
}

.lemon {
  background-image: url(../images/trend4.jpg);
}

.trend-content {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 30px 25px;
  border: 3px solid rgba(181, 159, 91, 0.6);
  color: var(--main-color-white);
}

.main-content {
  display: flex;
  box-sizing: border-box;
  gap: 35px;
  padding: 0 15px;
  max-width: 1200px;
  margin: 60px auto;
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 55px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

.post {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
}

.post-content {
  box-sizing: border-box;
  text-align: left;
  width: 45%;
}

.post-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 10px;
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  color: var(--main-color-accent);
  text-transform: uppercase;
}

.post-tag:hover {
  text-decoration: underline;
}

.post-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.post-title:hover,
.news-title:hover {
  color: var(--main-color-accent);
}

.post-caption {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 45px 0;
}

.date {
  display: block;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
  color: var(--aux-color-text);
  margin-right: 15px;
}

.author {
  font-size: 12px;
  font-weight: 700;
  color: var(--second-color-text);
}

.post-text {
  font-size: 15px;
  line-height: 1.45;
  margin-bottom: 10px;
}

.post-text:last-child {
  margin-bottom: 0;
}

.secondary-content {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 58px;
  width: 270px;
  min-width: 270px;
}

.news-list {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.news {
  display: flex;
  box-sizing: border-box;
  gap: 18px;
  height: 70px;

  text-align: left;
}

.photo-container {
  box-sizing: border-box;
  width: 70px;
  height: 70px;
}

.news-title {
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--second-color-text);
  text-transform: uppercase;
  overflow-y: hidden;
}

.search-form {
  display: flex;
  width: 100%;
  height: 48px;
}

.field {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  padding: 16px 20px;
  background: #f4f7f6;
  border-style: none;
  font-family: inherit;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.54);
}

.field:focus {
  outline: 1px var(--main-color-accent) solid;
  outline-offset: -1px;
}

.text-field {
  cursor: text;
}

.btn-search {
  box-sizing: border-box;
  min-width: 48px;
  height: 48px;

  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  background-color: var(--main-color-accent);

  border-style: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.form-group {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 17px;
}

.btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 30px;
  height: 48px;
  background-color: var(--main-color-accent);
  border-style: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-color-white);
}

.btn-search:hover,
.btn:hover {
  background-color: var(--main-color-accent-hover);
}

.tags-list {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 6px;
}

.tags-item {
  display: block;
  box-sizing: border-box;
  align-content: center;
  height: 30px;
  padding: 0 12px;
  border: 3px var(--border-color) solid;

  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.tags-item:hover {
  border-color: var(--main-color-accent);
}

.thems-list {
  display: block;
  box-sizing: border-box;
  color: var(--second-color-text);
}

.thems-item {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 0;
  border-bottom: 1px var(--border-color) solid;

  font-size: 14px;
  font-weight: 700;
}

.thems-item:first-child {
  padding-top: 0;
}

.thems-item:hover {
  color: var(--main-color-accent);
}

.counter {
  font-size: 12px;
  font-weight: 700;
  color: var(--main-color-accent);
  vertical-align: super;
  margin-left: 4px;
}

.shop {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.products-list {
  display: flex;
  width: 100%;
  gap: 60px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 2 * 60px) / 3);
}

.product-image-container {
  box-sizing: border-box;
  padding: 0 25px;
}

.product-image {
  object-fit: cover;
  object-position: top center;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.product-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: flex-start;
  text-align: left;
  box-sizing: border-box;
  margin-top: -35px;
  padding: 55px 20px 25px;
  border: 3px solid rgba(181, 159, 91, 0.6);
}

.text-link {
  color: var(--main-color-accent);
}

.text-link:hover {
  text-decoration: underline;
}

.price-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  margin-top: 15px;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-weight: 700;
  text-transform: uppercase;
}

.old-price {
  display: flex;
  font-size: 14px;
  text-decoration: line-through;
}

.old-currency,
.new-currency {
  position: relative;
  margin-left: 4px;
}

.old-currency::after {
  content: "";
  display: block;
  box-sizing: border-box;

  width: 6px;
  height: 1px;
  background: var(--second-color-text);
  position: absolute;
  right: 1px;
  bottom: 8px;
}

.new-price {
  display: flex;
  font-size: 20px;
  line-height: 1.5;
}

.new-currency::after {
  content: "";
  display: block;
  box-sizing: border-box;

  width: 7px;
  height: 2px;
  background: var(--second-color-text);
  position: absolute;
  right: 2px;
  bottom: 10px;
}

.footer {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 0 15px;
  margin: 70px auto;
}

.socials {
  display: flex;
  justify-content: center;
  gap:30px;
  padding: 30px 0;
  background-color: #f4f7f6;
}

.social-link {
  display: block;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
}

.dribble {
  background-image: url(../svg/001-dribbble.svg);
}

.pinterest {
  background-image: url(../svg/002-pinterest.svg);
}

.tumbrl {
  background-image: url(../svg/003-tumblr.svg);
}

.hint {
  display: block;
  margin-top: 70px;
  font-size: 12px;
  font-weight: 700;
  color: #999999;
  text-align: center;
}

a:focus-visible,
.btn-search:focus-visible,
.btn:focus-visible {
  outline: 1px var(--main-color-accent) solid;
  outline-offset: 1px;
}

@media (max-width: 1199px) {

  /* Стили модального окна для планшета */
  .modal {
    padding: 50px 30px;
  }

  .modal-close {
    width: 25px;
    height: 25px;

    background-size: 25px;
    top: -33px;
    right: 0;
  }

  .radio-values {
    display: flex;
    gap: 30px;
  }

  .radio-label::before {
    content: "";
    width: 25px;
    height: 25px;
    margin-right: 6px;

    background-size: 25px;
  }

  .radio:checked ~ .radio-label::before {
    content: "";
    width: 25px;
    height: 25px;
    margin-right: 6px;

    background-size: 25px;
  }
  /* Конец стиле модального окна для планшета */

  .header {
    padding: 45px 0px 15px;
    margin-bottom: 40px;
  }

  .logo {
    width: 156px;
  }

  .menu-container {
    padding: 0 35px;
    max-width: 100%;
  }

  .menu-icon {
    display: initial;
  }

  .menu-list {
    display: none;
  }

  .bunner-content {
    margin: 80px auto 100px;
  }

  .bunner-title {
    max-width: 80%;
    font-size: 40px;
    line-height: 1.4;
  }

  .trends-list {
    flex-wrap: wrap;
  }

  .trend-card {
    min-height: 245px;
  }

  .trend-content {
    padding: 30px 30px 25px;
  }

  .main-content {
    padding: 0 35px;
    margin: 45px auto 40px;
  }
  .post-list {
    gap: 35px;
  }

  .post {
    flex-direction: column;
    gap: 10px;
    border-bottom: 3px solid var(--border-color);
  }

  .image-container {
    width: 100%;
  }

  .post-image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .post-content {
    padding-bottom: 20px;
    width: 100%;
  }

  .post-title {
    font-size: 17px;
  }

  .big-title {
    font-size: 18px;
  }

  .post-caption {
    margin: 30px 0;
  }

  .shop {
    padding: 0 35px;
  }

  .products-list {
    flex-wrap: wrap;
    gap: 25px;
  }

  .product-image-container {
    min-height: 230px;
    max-height: 250px;
  }

  .product-card {
    width: calc((100% - 25px) / 2);
  }

  .footer {
    padding: 0 35px;
    margin: 50px auto;
  }

  .hint {
    margin-top: 50px;
  }
}

@media (max-width: 1199px) and (orientation: portrait) {
  .trend-card {
    width: calc((100% - 4px) / 2);
  }
}

@media (max-width: 640px) {

  /* Стили модального окна мобильные устройства */

  .modal {
    width: 330px;
    padding: 30px;
  }
  /* Конец стилей модального окна мобильные устройства */

  .header {
    padding-top: 35px;
  }

  .menu-container {
    padding: 0 15px;
    justify-content: flex-end;
  }

  .logo {
    display: none;
  }

  .logo-big {
    display: block;
    margin: 0 auto 30px;
    width: 270px;
  }

  .bunner-content {
    margin: 160px auto 195px;
  }

  .bunner-title {
    max-width: 80%;
    font-size: 26px;
  }

  .trend-card {
    width: 100%;
    min-height: 230px;
    padding: 15px;
  }

  .trend-content {
    padding: 25px 20px 30px;
  }

  .main-content {
    flex-direction: column;
    gap: 35px;
    padding: 0 15px;
    margin: 45px auto 35px;
  }

  .secondary-content {
    width: 100%;
    min-width: 100%;
    margin-left: 0;
    gap: 40px;
  }

  .post-text {
    font-size: 14px;
  }

  .post-content {
    padding-bottom: 19px;
    width: 100%;
  }

  .section-title::after {
    content: "";
    margin: 8px auto 0;
  }

  .section-title {
    font-size: 16px;
  }

  .post-title {
    font-size: 16px;
  }

  .big-title {
    font-size: 16px;
  }

  .post {
    gap: 5px;
  }

  .post-caption {
    margin: 15px 0;
  }

  .news:last-child {
    margin-bottom: 22px;
  }

  .thems-item {
    padding: 14px 0;
  }

  .shop {
  padding: 0 15px;
  }

  .products-list {
    flex-direction: column;
    gap: 25px;
  }

  .product-image-container {
    aspect-ratio: 1 / 1;
    max-height: 285px;
  }

  .product-card {
    width: 100%;
  }

  .product-content {
    margin-top: -25px;
    padding: 50px 20px 25px;
  }

  .footer {
    padding: 0 15px;
    margin: 40px auto;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trend-card {
    width: calc((100% - 4px) / 2);
  }
}
